@font-face {
  font-family: "Poppins";
  src: url(/Poppins-Regular.ttf);
  font-weight: 100;
}

@font-face {
  font-family: "Poppins";
  src: url(/Poppins-SemiBold.ttf);
  font-weight: 200;
}

:root {
--primary-font: "Poppins", sans-serif;
  /* colourpalette */
  /*--------b---w------ */
  --white: #F5FAFF;
  --black: #292929;

  /*--------bg---gradient------ */
  --bg-method: rgb(20,33,81); background: linear-gradient(0deg, rgba(20,33,81,1) 0%, rgba(71,24,113,1) 100%);
  --bg-statistics: rgb(27,112,112); background: linear-gradient(0deg, rgba(27,112,112,1) 0%, rgba(33,155,155,1) 100%);
  --bg-testing: rgb(27,61,112); background: linear-gradient(0deg, rgba(27,61,112,1) 0%, rgba(33,89,155,1) 100%);
  --bg-profile: rgb(180,87,81); background: linear-gradient(0deg, rgba(180,87,81,1) 0%, rgba(240,119,93,1) 100%);


  /*--------menubuttons---colours------ */
  --menu-1-1: #3F92B6;
  --menu-1-2: #3D7A95;

  --menu-2-1: #599AE7;
  --menu-2-2: #4D7EB7;

  --menu-3-1: #954BE2;
  --menu-3-2: #451ACF;

  --menu-4-1: #06A192;
  --menu-4-2: #078377;

  --menu-5-1: #FD8C73;
  --menu-5-2: #EA775E;

  /*--------menubuttons---colours------ */
  --method-1: #1CB854;
  --method-2: #37C6AB;
  --method-3: #059CC0;
  --method-4: #FF8C59;
  --method-5: #FFA02E;

  /*--------border---radius------ */
  --radius-1: 16px;
  --radius-2: 8px;
  --radius-3: 4px;
}


* {  margin: 0; padding: 0; box-sizing: border-box;}


h1, h2, h3, 
h4, h5, h6 {
  font-family: "poppins";
  font-weight: 200;
  color: var(--white);
}


h1  {  font-size: 32px;  }
h2  {  font-size: 24px;  }
h3  {  font-size: 18px;  }
h4  {  font-size: 14px;  }
p   {  font-size: 12px; color: var(--white); }
a   {  font-size: 12px; color: var(--white); text-decoration: none; cursor: pointer;}

button  {  appearance: none; background: none; border: none; cursor: pointer; 
           color: inherit; font: inherit; padding: 0; outline: inherit;}


body {
  font-family: "poppins";
  > nav {
    align-items: center;
    background-color: var(--black);
    display: flex;
    height: 100%;
    z-index: 10;

    position: absolute; top: -1000px; right: 0; left: 0;

    ul{
      display: grid;
      grid-template-columns: auto auto;
      gap: 50px;
      justify-content: center;
      width: 100%;

      > li {
      border-radius: 20px;
      display: flex;
      justify-content: center;
      list-style: none;
      width: 7em; height: 7em;
    }

    a {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }

    li:nth-of-type(1) {
      background-color: var(--menu-1-1);
    }
    li:nth-of-type(2) {
      background-color: var(--menu-2-1);
    }
    li:nth-of-type(3) {
      background-color: var(--menu-3-1);
    }
    li:nth-of-type(4) {
      background-color: var(--menu-4-1);
    }
    li:nth-of-type(5) {
      background-color: var(--menu-5-1);
    }
  }

.active {
  border: 5px solid var(--white);
  border-radius: 15px;
  width: 9.5em;
}
  }
}

.hamburger {
  background-color: var(--black);
  border-radius: 15px;
  width: 4em; height: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;

  position: fixed; right: 1.5em; bottom: 2em;

>  .bar {
  background-color: var(--white);
  display: block; 
  height: 3px;
  margin: 4px 0;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  width: 28px;
}
}

/* Javascript classes aanpassingen */
.nav-active {
  position: absolute; top: 0; right: 0; left: 0;

  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

.navigatie {
  position: absolute; top: -1000px; right: 0; left: 0;
  
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

.hamburger.active-bar .bar:nth-child(2){
  opacity: 0;
}

.hamburger.active-bar .bar:nth-child(1){
  transform: translateY(13px) rotate(45deg);
  background-color: var(--black);
}

.hamburger.active-bar .bar:nth-child(3){
  transform: translateY(-9px) rotate(-45deg);
  background-color: var(--black);
}

.hamburger.active-bar {
  background-color: var(--white);
}

/* styling lessons-page */
.lessons {
  --bg-method: rgb(20,33,81); background: linear-gradient(0deg, rgba(20,33,81,1) 0%, rgba(71,24,113,1) 100%);
  align-items: center;
  background-color: var(--bg-method);
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  width: 100%;
  /* activity section */
  > section:nth-of-type(1) {
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    width: 100%;

    > h1 {
        margin: 2em 0 .75em 0;
    }

    > ol {
      counter-reset: list-counter;
      display: flex;
      flex-wrap: nowrap;
      gap: 1.5rem;
      justify-content: flex-start;
      margin: 1em 0 0 0;
      overflow: scroll;

      > li {
        border-radius: var(--radius-2);
        color: var(--white);
        display: flex;
        padding: .75em 1.5em;
        text-wrap: nowrap;
        width: 15em;
        justify-content: space-around;
        align-items: center;
      }

      > li:nth-of-type(1) {
        background-color: #0F672C;
      }  

      > li:nth-of-type(2) {
        background-color: #136177;
      } 
      }

      > ol::-webkit-scrollbar {
        display: none;
      }

      > ol li::before {
        content: counter(list-counter) "."; /* insert the counter value as content  + add "." after the number */
        counter-increment: list-counter; /* increment the counter value */
      }
} /* end section 1 */

  /* playlist, language, stories section */
  > section:nth-of-type(2) {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 3em 0 0 0;
    overflow-y: hidden;
    width: 100%;

    h2 {
      width: 28vh;
      max-width: 60rem
    }
      /* playlist ul */
    > ul:nth-of-type(1) {
      display: grid;
      gap: 1.5em;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: masonry;
      margin: 1em 0 3em 0;

      > li {
        background-color: var(--white);
        border-radius: var(--radius-2);
        width: 8em;
        height: 13em;
        list-style: none;

        > a {
          align-items: center;
          display: flex;
          flex-direction: column;
          justify-content: center;

        .playlist-title {
            text-align:left ;
            width: 108px;
            height: 49px;
          }
        }

        > a, p {
          color: var(--black);
          font-weight: 200;
          text-align: center;
        }

        img {
          border-radius: var(--radius-2);
          height: 8.5em;
          margin: 1em 0 .75em 0;
          object-fit: cover;
          width: 8.5em;
        }

        .play-audio {
          display: flex;
          flex-direction: row;
          gap: .55em;
          margin: .25em 0 0 0;

          > p {
            margin: .25em 0 0 0;
            font-weight: 100;
            font-size: 11px;
          }
        }
      }
      /* Add playlist list item */
      > li:nth-last-of-type(1) {
        align-items: center;
        background-color: #494375;
        display: flex;
        flex-direction: column;
        gap: .65em;
        justify-content: center;
        text-align: center;

        > svg {
          margin: .5em 0 0 0;
        }
        
        > h4 {
          color: var(--white);
          font-weight: 200;
          width: 115px;
        }

        > p {
          color: var(--white);
          font-weight: 100;
          width: 110px;
          font-size: 11px;
        }
      }
    }
    /* languages */
    > form {
      display: flex;
      flex-direction: row;
      gap: 1em;
      max-width: 60rem;
      width: 28vh;
      overflow-y: hidden;

      > button {
        align-items: center;
        background-color: var(--white);
        border-radius: var(--radius-2);
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: .15em .5em;
        /*  language images */
      > img {
          border-radius: var(--radius-3);
          object-fit: cover;
          height:1em;
          width: 2em;
          margin: 0 .5em 0 0;
        }
      }
    }
      /*  all stories list */
    > ul:nth-of-type(2) {
      display: grid;
      gap: 1.5em;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: masonry;
      list-style: none;
      margin: 1em 0 3em 0;

      > li {
        background-color: var(--white);
        border-radius: var(--radius-2);
        width: 17.5em;
        height: 8.5em;
        position: relative;

        > a {
          display: flex;
          flex-direction: row;
          gap: 1em;
          margin: .25em 0 0 0;
        }
          /* story image */
           img:nth-of-type(1) {
            border-radius: var(--radius-2);
            object-fit: cover;
            height: 9.5em;
            width: 6em;
            margin: .75em 0 0 .5em;
          }
          /* language image */
           img:nth-of-type(2) {
            border-radius: var(--radius-3);
            object-fit: cover;
            height: 1.5em;
            width: 2.5em;

            position: absolute; top: 1.2em; right: .75em;

          }

          .story-text {
            display: flex;
            flex-direction: column;
            gap: .25em;
            width: 13em;
            height: 11em;
            margin: .5em 0 0 0;
         }
        }

        h3, p, a {
          color: var(--black);
          
          h3 {
            max-width: 300px;
          }

          p {
            font-weight: 100;
            max-width: 170px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .sub-buttons {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin: 1em 0 0 0;
            width: 14em;

            p {
              margin: .13em 1em 0 0;
            }
          } 
        } 
      } /* end ul */
    .tab-buttons {
      display: flex;
      flex-direction: row;
      gap: 2em;

    > button {
      background-color: var(--menu-3-1);
      color: var(--white);
      font-size: 18px;
      padding: .5em .75em;
      border-radius: var(--radius-2);
    }  
  }    
} /* end section */

  /* liked playlist + suggested playlists section */
  > section:nth-of-type(3) {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 3em 0 0 0;
    overflow-y: hidden;
    width: 100%;

    h2 {
      width: 28vh;
      max-width: 60rem
    }
      /* playlist ul */
    > ul:nth-of-type(1), ul:nth-of-type(2) {
      display: grid;
      gap: 1.5em;
      height: auto;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: masonry;
      margin: 1em 0 3em 0;

      > li {
        background-color: var(--white);
        border-radius: var(--radius-2);
        width: 8em;
        height: 13em;
        list-style: none;

        > a {
          align-items: center;
          display: flex;
          flex-direction: column;
          justify-content: center;

        .playlist-title {
            text-align:left ;
            width: 108px;
            height: 49px;
          }
        }

        > a, p {
          color: var(--black);
          font-weight: 200;
          text-align: center;
        }

        img {
          border-radius: var(--radius-2);
          height: 8.5em;
          margin: 1em 0 .75em 0;
          object-fit: cover;
          width: 8.5em;
        }

        .play-audio {
          display: flex;
          flex-direction: row;
          gap: .55em;
          margin: .25em 0 0 0;

          > p {
            margin: .35em 0 0 0;
            font-weight: 100;
            font-size: 10px;
            white-space: nowrap;
          }
        }
      }
    } /* end ul */
  } /* end section */
} /* end lessons styling */
  
