@font-face {
  font-family: "Poppins";
  src: url(/Poppins-Regular.ttf);
  font-weight: 100;
}

@font-face {
  font-family: "Poppins";
  src: url(/Poppins-SemiBold.ttf);
  font-weight: 200;
}

:root {
--primary-font: "Poppins", sans-serif;
  /* colourpalette */
  /*--------b---w------ */
  --white: #F5FAFF;
  --black: hsla( 0, 0%, 0%,1);

  /*--------bg---gradient------ */
  --bg-method: hsla( 0, 0%, 0%,1);
  --gr-method: linear-gradient(0deg, rgba(27, 18, 69, 1) 0%, rgba(62, 17, 125, 1) 100%);
  --gr-method: radial-gradient(at 84% 13%, hsla(259,47%,56%,1) 0px, transparent 50%), radial-gradient(at 21% 74%, hsla(265,76%,27%,1) 0px, transparent 50%);

  --bg-statistics: rgb(27,112,112);
  --gr-statistics: linear-gradient(0deg, rgba(27,112,112,1) 0%, rgba(33,155,155,1) 100%);

  --bg-testing: rgb(27,61,112); 
  --gr-testing: linear-gradient(0deg, rgba(27,61,112,1) 0%, rgba(33,89,155,1) 100%);

  --bg-profile: rgb(180,87,81); 
  --gr-profile: linear-gradient(0deg, rgba(180,87,81,1) 0%, rgba(240,119,93,1) 100%);

  /*--------mehtod---colours------ */
  --method-1-o:rgb(126, 93, 197);
  --method-1-d:rgba(126, 93, 197, 0.593);
  --method-1-d2: rgba(120, 76, 214, 0.43);
  --method-1-l:rgb(170, 144, 225);

  --method-2: rgb(20,33,81);
  --method-3: rgba(62, 17, 125, 1);
  

  /*--------menubuttons---colours------ */
  --home-1: rgb(85, 162, 196);


  /*--------border---radius------ */
  --radius-1: 16px;
  --radius-2: 8px;
  --radius-3: 4px;
}




@supports ( background: linear-gradient(in oklch, red 0 0) ) {
  :root {
    --gr-method: linear-gradient(0deg in oklch, rgba(27, 18, 69, 1) 0%, rgba(62, 17, 125, 1) 100%);
    --gr-statistics: linear-gradient(0deg in oklch, rgba(27,112,112,1) 0%, rgba(33,155,155,1) 100%);
    --gr-testing: linear-gradient(0deg in oklch, rgba(27,61,112,1) 0%, rgba(33,89,155,1) 100%);
    --gr-profile: linear-gradient(0deg in oklch, rgba(180,87,81,1) 0%, rgba(240,119,93,1) 100%);  
  }
}


* {  margin: 0; padding: 0; box-sizing: border-box;}


h1, h2, h3, 
h4, h5, h6 {
  font-family: "poppins";
  font-weight: 200;
  color: var(--white);
}


h1  {  font-size: 40px;  }
h2  {  font-size: 24px;  }
h3  {  font-size: 18px;  }
h4  {  font-size: 14px;  }
p   {  font-size: 12px; color: var(--white); }
a   {  font-size: 12px; color: var(--white); text-decoration: none; cursor: pointer;}

button  {  appearance: none; background: none; border: none; cursor: pointer; 
           color: inherit; font: inherit; padding: 0; outline: inherit;}


body {
  font-family: "poppins";
  > nav {
    align-items: center;
    background-color: var(--bg-method);
    display: flex;
    height: 100%;
    position: sticky;
    z-index: 9;
    border-bottom: 2px solid white;

    ul{
      display: flex;    
      flex-wrap: wrap;
      gap: 1.5rem;
      width: 100%; 
      list-style: none;

      > li {
      border-radius: 20px;
      display: flex;
      justify-content: center;
      list-style: none;
      width: 5em; height: 4em;
    }

    li:nth-of-type(1) p:hover {
      color: var(--home-1);
      transition: .3s linear;
    }

    li:nth-of-type(3) p:hover {
      color: var(--method-1-l);
      transition: .3s linear;
    }

    .mobile {
      align-items: center;
      background-color: var(--bg-method);
      width: 100%;
      display: flex; 
      justify-content: space-between;
      height: 3em;
      padding: 0 1em;
      text-transform: uppercase;
      z-index: 10;

      .hamburger {
        width: 3em; height: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 10;
      
      >  .bar {
        background-color: var(--white);
        display: block; 
        height: 2px;
        margin: 3px 0;
        transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        width: 27px;
      }
      }
    }

    a {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }
    p {
      font-size: 20px;
    }
  }

.active {
  border-bottom: 1px solid var(--white);
  border-top: 1px solid var(--white);
}

.active-1 p {
  color: var(--home-1);
}

.active-3 p {
  color: var(--method-1-l);
}
  }
}

/* Javascript classes aanpassingen */
.nav-active {
  position: absolute; top: 47px; right: 0; left: 0;

  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;

  background-color: var(--bg-method);
  width: 100%;
  height: 100vh;
  display: flex; 
  flex-direction: column;
  justify-content: start;
  gap: .75em;
  padding: 1.5em 0;

  p {
    font-size: 25px;
  }
}

.desktop {
  position: absolute; top: -1000px; right: 0; left: 0;
  
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  
}

.hamburger.active-bar .bar:nth-child(2){
  opacity: 0;
}

.hamburger.active-bar .bar:nth-child(1){
  transform: translateY(7px) rotate(45deg);
}

.hamburger.active-bar .bar:nth-child(3){
  transform: translateY(-9px) rotate(-45deg);
}


/* ----------------------------------------------------------------- */
/* styling home-page */
.home {
  background-image: url("BG-homepage.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  height: 100dvh;

  align-items: center;
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 18px;
    font-weight: 80;
    margin: 2em 0 0 0;
  }
  .progress-bar {
    counter-reset: p calc( var(--p) );
  }
  .progress-bar::after {
    content: counter(p) "%";
    font-variant:tabular-nums;
  }
  .progress-bar:hover {
    --p:100;
    transition:--p 5s linear;
  }
  
}
@property --p {
	syntax:"<number>";
	inherits:true;
	initial-value:0;
}

/* ----------------------------------------------------------------- */
/* keyframes lessons-page */

@keyframes gradient { 
  0% {background-position: 20% 0%;} 25% {background-position: 50% 100%;}
  50% {background-position: 70% 50%;} 100% {background-position: 20% 0%;}
}

/* ----------------------------------------------------------------- */
/* styling lessons-page */
.lessons {
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  width: 100%;

  animation: gradient 13s ease infinite;
  background-size: 200% 200%;
  background-color: hsla( 0, 0%, 0%,1);
  background-image:
    radial-gradient(at 84% 13%, hsla(259,47%,56%,1) 0px, transparent 50%),
    radial-gradient(at 21% 74%, hsla(265,76%,27%,1) 0px, transparent 50%);

  /* activity section */
  > header {
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: auto;
    width: 100%;

    > h1 {
        margin: 1.5em 0 .75em 0;
        display: block;
        text-transform:uppercase;
    }

    > ol {
      align-items: start;
      counter-reset: list-counter;
      display: flex;
      flex-wrap: nowrap;
      gap: 1.5rem;
      justify-content: flex-start;
      margin: .5em 0 0 1.2em;
      overflow: scroll;
      width: 100%;
      scrollbar-width: none;

      scroll-snap-type: x mandatory;

      > li {
        align-items: center;
        border-radius: var(--radius-2);
        color: var(--white);
        display: flex;
        justify-content: space-around;
        text-wrap: nowrap;
        white-space: nowrap;

        height: 3em;
        min-width: 15em;
        padding: .75em 1.5em;

        scroll-snap-align: center;

        background: linear-gradient(135deg, rgba(255, 255, 255, 0.418), rgba(124, 90, 196, 0.304));
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 1px solid var(--method-1-d2);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
        
      }

      > li:hover {
        border: 1px solid var(--method-1-l);
        transition: .3s linear;
      } 
      }

      > ol::-webkit-scrollbar {
        display: none;
      }

      > ol li::before {
        content: counter(list-counter) "."; /* insert the counter value as content  + add "." after the number */
        counter-increment: list-counter; /* increment the counter value */
      }
      > ol li:hover {
        background-color: var(--method-el-d2);
        transition: .3s linear;
      }
} /* end section 1 */

  /* playlist, language, stories section */
  > section:nth-of-type(1) {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 2em 0 0 0;
    overflow-y: hidden;
    width: 100%;

    h2 {
      width: 11em;
      max-width: 60rem
    }
      /* playlist ul */
    > ul:nth-of-type(1) {
      display: grid;
      gap: 1.5em;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: masonry;
      margin: 1em 0 3em 0;

      > li {
        background-color: var(--white);
        border-radius: var(--radius-2);
        width: 8em;
        height: 13em;
        list-style: none;


        > a {
          align-items: center;
          display: flex;
          flex-direction: column;
          justify-content: center;

        h4 {
            text-align:left ;
            width: 108px;
            height: 49px;
            color: var(--black);
          }
        }

        > a, p {
          color: var(--black);
          font-weight: 200;
          text-align: center;
        }

        img {
          border-radius: var(--radius-2);
          height: 8.5em;
          margin: 1em 0 .75em 0;
          object-fit: cover;
          width: 8.5em;
        }

        .play-audio {
          display: flex;
          flex-direction: row;
          gap: .55em;
          margin: .25em 0 0 0;

          > p {
            margin: .25em 0 0 0;
            font-weight: 100;
            font-size: 11px;
          }
        }
      }
      /* Add playlist list item */
      > li:first-child {
        align-items: center;
   
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.418), rgba(124, 90, 196, 0.304));
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 1px solid var(--method-1-d2);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

        display: flex;
        flex-direction: column;
        gap: .65em;
        justify-content: center;
        text-align: center;

        > svg {
          margin: .5em 0 0 0;
        }
        
        > h4 {
          color: var(--white);
          font-weight: 200;
          width: 115px;
        }

        > p {
          color: var(--white);
          font-weight: 100;
          width: 110px;
          font-size: 11px;
        }
      }
    }
  }
  /* end section */
  section:nth-of-type(2) {
    background: repeating-linear-gradient(135deg, rgba(255, 255, 255, 0.418), rgba(0, 0, 0, 0.558));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border-bottom: 3px solid white;
    border-top: 3px solid white;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3, p, a {
        color: var(--black);
        
        h3 {
            max-width: 300px;
          } 
    }

    .story-head {
        align-items: center;
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 0 2em 0;
        width: 100%;

        h2 {
            text-transform: uppercase;
            width: 11em;
            max-width: 60rem;
            margin: .75em 0;
          }

        form {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            gap: 1em;
            width: 88dvw;
            overflow: scroll;
            justify-content: start;
            scroll-snap-type: x mandatory;

            > button {
                align-items: center;
                background-color: var(--white);
                border-radius: var(--radius-2);
                display: flex;
                flex-direction: row;
                justify-content: center;
                padding: .15em .5em;
                scroll-snap-align: center;
                scrollbar-width: none;

                > img {
                    border-radius: var(--radius-3);
                    object-fit: cover;
                    height:1em;
                    width: 2em;
                    margin: 0 .5em 0 0;

                }
            }
        }

        form::-webkit-scrollbar {
            display: none;
       }
    } /* story-head end tag  */

    .story-container {
        display: flex;
        flex-wrap: nowrap;
        height: auto;
        width: 100%;
        gap: .5em;
        scroll-snap-type: x mandatory;
        overflow: scroll;
        justify-content: center;
        margin: 2em 0 0 0;

        > .indicator {
            border-radius: var(--radius-2);
            width: 20px;
            height: auto;
            scroll-snap-align: start;
            transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
            overflow: hidden;
            margin: 0 0 3em 0;
        }

        .gallery {
            display: flex;
            justify-content: space-between;
            width: 100%;
            overflow-x: scroll;
        }

        .gallery-item {
            display: flex;
            justify-content: center;
            align-items: start;
            height: 320px;
            margin: 0 5px;
            overflow: hidden;
            background-color: var(--white);
            border-radius: 2px;
    
            position: relative;
        }

        .story-img {
            width: 200px;
            height: 130px;
            object-fit: contain;
            transform: scale(2);
        }

        .indicator:hover {
            width: 200px;

            .gallery-content {
                display: flex;
                flex: wrap;
                flex-direction: row;
                background-color: var(--white);
                width: 200px;
                height: 140px;
                position: absolute;
                bottom: 0em;
                z-index: 100;

                .story-header {
                    display: flex;
                    justify-content: space-between;
                    width: 17em;
                    padding: .5em 1em 0;
                }

                .lang-img {
                    width: 3em;
                    height: 2em;
                    object-fit: cover;
                    padding: .5em 0 0 0;
                }

                .story-sum {
                    font-weight: 100;
                    max-width: 190px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    padding: .5em 1em 0;
                }

                .sub-buttons {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    margin: 1em 0 0 0;
                    width: inherit;
                    gap: 1em;
        
                    position: absolute; bottom: 1em; right: 1em; 
                
                    p {
                        margin: .20em 1em 0 0;
                    }

                    button {
                        margin: .25em 0 0 0;
                      }
                }
            }

        }
    }
    ul::-webkit-scrollbar {
        display: none;
      }
      
      .tab-buttons {
        display: flex;
        flex-direction: row;
        gap: 7em;
        margin: 0 0 2em 0;
    
      > button {
        background-color: var(--white);
        color: var(--black);
        font-size: 18px;
        padding: .5em .75em;
        border-radius: var(--radius-2);
      }  
    } 
}  



  /* liked playlist + suggested playlists section */
  > section:nth-of-type(3) {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 2em 0 0 0;
    overflow-y: hidden;
    width: 100%;

    h2 {
      text-transform: uppercase;
      width: 11em;
      max-width: 60rem;
      margin: .75em 0 0;
    }
      /* playlist ul */
    > ul:nth-of-type(1), ul:nth-of-type(2) {
      display: flex;
      flex-wrap: nowrap;

      height: auto;
      margin: 1em 0 0 0;

      overflow: auto;
      width: 100%;
      scrollbar-width: none;

      scroll-snap-type: x mandatory;

      > li {
        background-color: var(--white);
        border-radius: var(--radius-2);

        min-width: 8.5em;
        max-width: 9em;
        height: 14em;
        list-style: none;
        scroll-snap-align: center;
				scrollbar-width: none;
        position: relative;
        margin: 0 0 0 1em;

        > a {
          align-items: center;
          display: flex;
          flex-direction: column;
          justify-content: center;

        .playlist-title {
            text-align:left ;
            width: 108px;
            height: auto;
          }
        }

        > a, p {
          color: var(--black);
          font-weight: 200;
          text-align: center;
        }

        img {
          border-radius: var(--radius-2);
          height: 8.5em;
          margin: 1em 0 .75em 0;
          object-fit: cover;
          width: 8.5em;
        }

        .play-audio {
          display: flex;
          flex-direction: row;
          gap: .55em;
          margin: .25em 0 0 0;
     
          position: absolute; bottom: .5em;

          > p {
            margin: .35em 0 0 0;
            font-weight: 100;
            font-size: 10px;
            white-space: nowrap;
          }
        }
      } /* end ul */
  } /* end section */

  ul:nth-of-type(2) {
    margin: 0 0 3em 0;
  }

  .no-playlist {
    margin: 0 1.9em 0 0;
    display: flex;
    font-weight: 80;
    font-size: 15px;
  }

  .no-playlist:last-child {
    margin: 0 1.9em 2em 0;
  }
 /* end lessons styling */
}
}


footer {
  background-color: var(--black);
  border-top: 2px solid var(--white);
  width: 100%;
  height: 5em;
}


@media (min-width:525px) {

  h1  {  font-size: 44px;  }
  h2  {  font-size: 28px;  }
  h3  {  font-size: 22px;  }
  h4  {  font-size: 18px;  }
  p   {  font-size: 16px;  }
  a   {  font-size: 16px;  }


  .lessons {
      display: flex;

        header {display: flex;
          ol { align-items: center; display: flex; width: auto; }} 
          /* end header */     

    section:nth-of-type(1) { 
      h2 { align-items: center; display: flex; width: auto; }

      ul:nth-of-type(1) { gap: 2.5em;
        li { width: 10em; height: 15.5em;

          a { img { height: 7.5em; } 
              h4 { width: 135px; }
              .play-audio { width: 135px; justify-content: space-between; margin: .85em 0 0 0;
                        p { font-size: 12px; }}
          }
        }

        li:first-child {
          p { width: 136px; font-size: 13px; }

        }
      }
    }
    section:nth-of-type(2) { 
        .story-head { display: flex;
            h2 { align-items: center; display: flex; width: auto; }
            form { align-items: center; display: flex; width: auto; }
        }
        .story-container {
        .indicator {
          .gallery { .gallery-item {
          height: 350px;
        }}}

        .story-img { width: 300px; transform: scale(2.5);}
        .indicator:hover { width: 300px; .gallery { .gallery-item { .gallery-content {
          width: 300px;
          height: 155px;
          .story-header { width: 15.75em;}
          .story-sum { max-width: 250px;}
          .sub-buttons { width: 14em; right: 0; left: 1em; bottom: .75em;
              svg:nth-of-type(1) { margin: .25em 0 0 0;}}
        }}
        }}

        }
    }/* end stories section */

    section:nth-of-type(3) { display: flex;
      h2 {
        align-items: center; display: flex; width: auto;
      }
      p {
        align-items: center; display: flex; width: auto; margin: 0;
      }
    }
  }
  }  
